:root {
  --default-page-bg-color: #eaeaea;
  --default-blue-color: #00aaff;
  --spinner-size: 100px;
  --scrollbar-width: 15px;
}

/*
body::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: #aaa; 
}
body::-webkit-scrollbar-thumb {
    background: var(--default-blue-color);
    border-radius: 20px;
    border: 1px solid white;
}*/
html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--default-page-bg-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

html header #header-wrapper {
  width: 100%;
  height: 50px;
  background-color: #5ce1e6;
}

html .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .form-wrapper form, html .form-wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  width: 90%;
  border: 1px solid var(--default-blue-color);
  padding: 20px;
}

html .form-wrapper form .form-label, html .form-wrapper .form .form-label {
  position: relative;
  width: 100%;
}

html .form-wrapper form .form-label .form-name-label, html .form-wrapper .form .form-label .form-name-label {
  top: calc(-20px - 0.75em);
  margin-top: 0;
  background-color: var(--default-page-bg-color);
  left: -10px;
}

html .form-wrapper form .form-label label, html .form-wrapper .form .form-label label {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 20px;
  padding: 0 10px;
  top: 0.5em;
  left: 0px;
  font-size: 1em;
}

html .form-wrapper form .form-label .active-label,
html .form-wrapper form .form-label .permanent-active-label, html .form-wrapper .form .form-label .active-label,
html .form-wrapper .form .form-label .permanent-active-label {
  top: -0.75em;
  left: 10px;
  background-color: white;
  border-radius: 25px;
  font-size: 0.8em;
  border: 1px solid var(--default-blue-color);
}

html .form-wrapper form input:not([type="checkbox"]), html .form-wrapper form select, html .form-wrapper .form input:not([type="checkbox"]), html .form-wrapper .form select {
  margin-top: 20px;
  border: 1px solid gray;
  height: 2.5rem;
  width: 100%;
  padding-left: 5px;
}

html .form-wrapper form .time-select, html .form-wrapper .form .time-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .form-wrapper form .time-select input[type="number"], html .form-wrapper .form .time-select input[type="number"] {
  width: 30%;
  text-align: center;
}

html .form-wrapper form .time-select .colon, html .form-wrapper .form .time-select .colon {
  height: 2.5rem;
  margin-top: 20px;
  text-align: center;
}

html .form-wrapper form .threshold-value-container, html .form-wrapper .form .threshold-value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .form-wrapper form .threshold-value-container select, html .form-wrapper .form .threshold-value-container select {
  width: 10%;
  min-width: 50px;
  max-width: 100px;
  text-align-last: center;
}

html .form-wrapper form .checkbox-container input[type="checkbox"], html .form-wrapper .form .checkbox-container input[type="checkbox"] {
  width: 24px;
  height: 24px;
  position: relative;
}

html .form-wrapper form input:focus, html .form-wrapper .form input:focus {
  outline: none;
  border: 2px solid var(--default-blue-color);
}

html .form-wrapper form .chekbox-wrapper, html .form-wrapper .form .chekbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  margin-top: 0.5em;
}

html .form-wrapper form .chekbox-wrapper input, html .form-wrapper .form .chekbox-wrapper input {
  margin-right: 0.5em;
  height: 1.3em;
  width: 1.3em;
}

html .form-wrapper form .chekbox-wrapper label, html .form-wrapper .form .chekbox-wrapper label {
  margin: 0;
}

html .form-wrapper form input[type="button"], html .form-wrapper .form input[type="button"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
}

.form-component #form-info {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.form-component .form-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.form-component #form-link {
  margin-top: 15px;
}

.form-component #form-link button {
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.dialog-wrapper .dialog {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  display: block;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 50px;
  color: black;
  font-size: 1.5em;
  z-index: 1000;
  text-align: center;
  -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 576px) {
  .dialog-wrapper .dialog {
    left: 5%;
    top: 5%;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .dialog-wrapper .dialog {
    left: 10%;
    top: 10%;
    width: 80%;
  }
}

.dialog-wrapper .overlay {
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.dialog-wrapper .overlay.light {
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-wrapper .message-box:not(.error-message) {
  text-align: center;
}

.dialog-wrapper .dialog-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  margin-top: 1em;
}

.dialog-wrapper .dialog-btn-group > .btn {
  margin: 0 10px;
  font-size: 1.3em;
}

@media (max-width: 576px) {
  .dialog-wrapper .dialog-btn-group > .btn {
    font-size: 1.0em;
  }
}

@media (max-width: 768px) {
  .dialog-wrapper .dialog-btn-group > .btn {
    font-size: 1.1em;
  }
}

.dialog-wrapper .close-btn div {
  font-size: 1.3em;
}

menu-icon {
  margin: 5px;
  right: 0;
  background-color: #ffffff96;
  padding: 5px;
  top: 5px;
  border-radius: 10px;
  position: fixed;
}

menu-items-container {
  display: block;
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0;
  padding: 10px;
  padding-right: 25px;
  border-right: 1px solid #939393;
  color: black;
  background-color: white;
}

menu-items-container menu-item {
  display: block;
  cursor: pointer;
  font-size: 1.75rem;
  border-radius: 5px;
  padding: 5px 10px;
}

menu-items-container menu-item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

menu-items-container menu-item:hover {
  background-color: var(--default-blue-color);
  color: white;
}

vertical-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

horizontal-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

home-page #no-rooms-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

home-page #no-rooms-info-container #no-rooms-info {
  max-width: 80%;
  text-align: center;
  padding-top: 10%;
}

home-page room-card {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

home-page room-card:nth-child(odd) {
  background-color: #a5a5a5;
}

home-page room-card:nth-child(even) {
  background-color: #ebebeb;
}

home-page room-card > horizontal-stack {
  background: rgba(0, 0, 0, 0.7);
}

home-page room-card .card-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

home-page room-card .card-container .left-stack {
  width: 40%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

home-page room-card .card-container .left-stack .room-name {
  color: white;
  font-size: 2.5rem;
  text-decoration: underline;
  padding-left: 10%;
}

home-page room-card .card-container .left-stack .sensors-stack {
  padding-left: 15%;
  padding-right: 10%;
}

home-page room-card .card-container .left-stack .sensors-stack room-sensor {
  color: white;
  margin: 5px 0;
}

home-page room-card .card-container .left-stack .sensors-stack room-sensor:first-child {
  font-size: 1.2rem;
}

home-page room-card .card-container .left-stack .sensors-stack room-sensor app-icon {
  margin-right: 10px;
}

home-page room-card .card-container .left-stack .sensors-stack room-sensor .value {
  padding-left: 10px;
}

home-page room-card .card-container .right-stack {
  width: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 40px 0;
  padding-top: 55px;
  padding-left: 10px;
}

home-page room-card .card-container .right-stack slider-component {
  margin-right: 5px;
}

home-page room-card .card-container .right-stack slider-component input {
  width: 100%;
  margin-bottom: 2rem;
}

home-page room-card .card-container .right-stack .devices-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-component .room-name {
  padding-left: 20px;
}

.list-component list-item {
  border-bottom: 1px solid var(--default-blue-color);
  background-color: #ececec;
}

.list-component list-item:nth-child(odd) {
  background-color: #fafafa;
}

.list-component list-item:hover:not(.no-hover) {
  cursor: pointer;
}

.list-component list-item:hover:not(.no-hover):not(.active) {
  background-color: #d5d5d5;
}

.list-component list-item.active {
  background-color: var(--default-blue-color);
  color: white;
}

.list-component list-item > .components-wrapper > *:hover:not(.room-name):not(.text):not(.btn-wrapper):not(.opaque),
.list-component list-item > .components-wrapper .btn:hover {
  opacity: 0.7;
}

.list-component .btn.add-btn {
  background-color: var(--default-blue-color);
  border-radius: 15px;
  padding: 0px 50px;
  margin: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.list-component .btn.add-btn.disabled {
  background-color: #959595;
}

.list-component .btn.add-btn.disabled:hover {
  opacity: 0.65;
}

.list-component input[type=checkbox] {
  width: 24px;
  height: 24px;
}

@keyframes blink {
  0% {
    background-color: #00aaff4f;
  }
  100% {
    background-color: var(--default-page-bg-color);
  }
}

@-webkit-keyframes blink {
  0% {
    background-color: #00aaff4f;
  }
  100% {
    background-color: var(--default-page-bg-color);
  }
}

detail-component .form-wrapper .form, .detail-component .form-wrapper .form {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
}

detail-component .blinking, .detail-component .blinking {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

detail-component .blink-once, .detail-component .blink-once {
  -webkit-animation: blink 1s linear 1;
  animation: blink 1s linear 1;
}

detail-component input:disabled, .detail-component input:disabled {
  background-color: #d7d7d7;
}

button.blink {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

tab-layout {
  margin: 10px 5px;
  margin-bottom: 0px;
}

tab-layout .tab {
  border: 1px solid #959595;
  border-right: none;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 5px;
  padding-top: calc(5px + 0.2rem);
  border-radius: 5px 5px 0 0;
}

tab-layout .tab.active {
  background-color: var(--default-blue-color);
  color: white;
  font-size: 1rem;
  padding-top: 5px;
}

tab-layout .tab:last-child {
  border-right: 1px solid #959595;
}

tab-layout > horizontal-stack:nth-child(2) {
  border: 2px solid #00aaff;
  padding: 5px;
  padding-bottom: 2px;
  background: #0000001a;
}

page-manager {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--default-page-bg-color);
}

page-manager .btns-stack {
  /*position: absolute;
        top: 5px;*/
  margin-top: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

page-manager .btns-stack .btn {
  border: 1px solid var(--default-blue-color);
  height: 36px;
  border-radius: 15px;
  padding: 0 20px;
  margin: 0 10px;
}

page-manager .btns-stack .btn:enabled:hover {
  background-color: #d5d5d5;
}

page-manager .detail-component .form-wrapper form, page-manager .detail-component .form-wrapper .form, page-manager .detail-component .form-wrapper form, page-manager .detail-component .form-wrapper .form {
  max-width: initial;
  width: 100%;
  padding: 5px;
  margin: 5px;
  /*input:not([type="checkbox"]),
                select,
                slidable-img {
                    //max-width: 500px;
                }*/
}

page-manager .detail-component .form-wrapper form slidable-img .bordered-img, page-manager .detail-component .form-wrapper .form slidable-img .bordered-img, page-manager .detail-component .form-wrapper form slidable-img .bordered-img, page-manager .detail-component .form-wrapper .form slidable-img .bordered-img {
  border: 1px solid grey;
}

/*
ABSOLUTE POSITION
*/
app-loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a6;
  z-index: 100;
}

app-loader .spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: var(--spinner-size);
  height: var(--spinner-size);
  position: relative;
  top: calc(50% - var(--spinner-size) / 2);
  left: calc(50% - var(--spinner-size) / 2);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

app-loader .message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: calc(50% - var(--spinner-size) / 2 + 10px);
  position: relative;
}

app-loader .message-container .message {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background-color: #252525;
  padding: 10px;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */