//Define app themes
$theme_1: linear-gradient(45deg, #5ce1e6, #062e64);
$theme_2: #0000006e;
$theme_3: #ffffff6e;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
*{
    //display: block;
}
:root {
    --default-page-bg-color: #eaeaea;
    --default-blue-color: #00aaff;
    --spinner-size: 100px;
    --scrollbar-width: 15px;
}
//For responsive design
@mixin sm-devices {
    @media (min-width: $sm) {
        @content;
    }
}
@mixin smaller-than-sm-devices {
    @media (max-width: $sm) {
        @content;
    }
}
@mixin md-devices {
    @media (min-width: $md) {
        @content;
    }
}
@mixin smaller-than-md-devices {
    @media (max-width: $md) {
        @content;
    }
}
@mixin lg-devices {
    @media (min-width: $lg) {
        @content;
    }
}
@mixin xl-devices {
    @media (min-width: $xl) {
        @content;
    }
}/*
body::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: #aaa; 
}
body::-webkit-scrollbar-thumb {
    background: var(--default-blue-color);
    border-radius: 20px;
    border: 1px solid white;
}*/

html {
    user-select: none; //switch of text selecting
    background-color: var(--default-page-bg-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;

    header {
        #header-wrapper {
            width: 100%;
            height: 50px;
            background-color: #5ce1e6;
        }
    }

    .form-wrapper {
        display: flex;

        form, .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            width: 90%;
            border: 1px solid var(--default-blue-color);
            padding: 20px;

            @include sm-devices() {
            }
            @include lg-devices() {
                //max-width: 90%;
            }

            .form-label {
                position: relative;
                width: 100%;

                .form-name-label {
                    top: calc(-20px - 0.75em);
                    margin-top: 0;
                    background-color: var(--default-page-bg-color);
                    left: -10px;
                }
                label {
                    position: absolute;
                    transition: all 0.5s;
                    margin-top: 20px;
                    padding: 0 10px;
                    top: 0.5em;
                    left: 0px;
                    font-size: 1em;
                }
                .active-label,
                .permanent-active-label {
                    top: -0.75em;
                    left: 10px;
                    background-color: white;
                    border-radius: 25px;
                    font-size: 0.8em;
                    border: 1px solid var(--default-blue-color);
                }
            }

            input:not([type="checkbox"]), select {
                margin-top: 20px;
                border: 1px solid gray;
                height: 2.5rem;
                width: 100%;
                padding-left: 5px;
            }
            .time-select{
                display: flex;
                justify-content: space-between;
                align-items: center;
                input[type="number"]{
                    width: 30%;                   
                    text-align: center;
                }
                .colon{
                    height: 2.5rem;
                    margin-top: 20px;
                    text-align: center;
                }
            }
            .threshold-value-container{
                display: flex;

                select{
                    width: 10%;
                    min-width: 50px;
                    max-width: 100px;
                    text-align-last:center;
                }
            }

            .checkbox-container{
                input[type="checkbox"]{
                    width: 24px;
                    height: 24px;
                    position: relative;
                }
            }
            input:focus {
                outline: none;
                border: 2px solid var(--default-blue-color);
            }
            .chekbox-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 90%;
                margin-top: 0.5em;

                input {
                    margin-right: 0.5em;
                    height: 1.3em;
                    width: 1.3em;
                }

                label {
                    margin: 0;
                }
            }
            input[type="button"] {
                width: fit-content;
                padding: 0 20px;
            }
        }
    }
}

.form-component {
    #form-info {
        user-select: text; //switch on text selecting
        display: none;
        justify-content: center;
        margin-top: 25px;
    }
    .form-wrapper {
        justify-content: center;
        margin-top: 25px;
    }
    #form-link{
        margin-top: 15px;

        button{
            font-weight: 500;
            color: #007bff;
            text-decoration: none;
            background-color: transparent;      
            border: none;
        }
    }
}


.dialog-wrapper {
    .dialog {
        user-select: text; //switch on text selecting
        display: block;
        position: absolute;
        left: 25%;
        top: 25%;
        width: 50%;
        background-color: white;
        border: 1px solid black;
        border-radius: 25px;
        padding: 50px;
        color: black;
        font-size: 1.5em;
        z-index: 1000;
        text-align: center;

        -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        
        @include smaller-than-sm-devices() {
            left: 5%;
            top: 5%;
            width: 90%;
        }
        
        @include smaller-than-md-devices() {
            left: 10%;
            top: 10%;
            width: 80%;
        }
    }

    .overlay {
        z-index: 900;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;

        &.light {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    .message-box:not(.error-message) {
        text-align: center;
    }

    .dialog-btn-group {
        display: flex;
        justify-content: center;
        color: black;
        margin-top: 1em;

        > .btn {
            margin: 0 10px;
            font-size: 1.3em;
            @include smaller-than-sm-devices() {
                font-size: 1.0em;
            }
            
            @include smaller-than-md-devices() {
                font-size: 1.1em;
            }
        }
    }
    .close-btn {
        div {
            font-size: 1.3em;
        }
    }
}

menu-icon {
    margin: 5px;
    right: 0;
    background-color: #ffffff96;
    padding: 5px;
    top: 5px;
    border-radius: 10px;
    position: fixed;
}

menu-items-container {
    display: block;
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0;
    padding: 10px;
    padding-right: 25px;
    border-right: 1px solid #939393;
    color: black;
    background-color: white;

    menu-item {
        display: block;
        cursor: pointer;
        font-size: 1.75rem;
        border-radius: 5px;
        padding: 5px 10px;

        &:not(:last-child) {
            border-bottom: 1px solid rgb(214, 214, 214);
        }

        &:hover {
            background-color: var(--default-blue-color);
            color: white;
        }
    }
}

vertical-stack {
    display: flex;
    flex-direction: column;
}
horizontal-stack {
    display: flex;
    flex-direction: row;
}
home-page {
    #no-rooms-info-container{
        display: flex;
        justify-content: center;
        #no-rooms-info{
            max-width: 80%;
            text-align: center;
            padding-top: 10%;
            //color: #0079b5;
        }
    }

    room-card {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    
        &:nth-child(odd) {
            background-color: rgb(165, 165, 165);
        }
        &:nth-child(even) {
            background-color: rgb(235, 235, 235);
        }
    
        > horizontal-stack {
            background: rgba(0, 0, 0, 0.7);
        }
        .card-container {
            flex-wrap: wrap;
    
            .left-stack {
                width: 40%;
                min-width: min-content;
                flex-grow: 1;
    
                .room-name {
                    color: white;
                    font-size: 2.5rem;
                    text-decoration: underline;
                    padding-left: 10%;
                }
    
                .sensors-stack {
                    padding-left: 15%;
                    padding-right: 10%;
    
                    room-sensor {
                        color: white;
                        margin: 5px 0;
    
                        &:first-child {
                            font-size: 1.2rem;
                        }
    
                        app-icon {
                            margin-right: 10px;
                        }
    
                        .value {
                            padding-left: 10px;
                        }
                    }
                }
            }
    
            .right-stack {
                width: 60%;
                flex-grow: 1;
                flex-direction: column-reverse;
                padding: 40px 0;
                padding-top: 55px;
                padding-left: 10px;
    
                slider-component {
                    margin-right: 5px;
    
                    input {
                        width: 100%;
                        margin-bottom: 2rem;
                    }
                }
    
                .devices-row {
                    justify-content: space-between;
                }
            }
        }
    }
}


.list-component {
    .room-name {
        padding-left: 20px;
    }
    list-item {
        border-bottom: 1px solid var(--default-blue-color);
        background-color: #ececec;

        &:nth-child(odd) {
            background-color: #fafafa;
        }

        &:hover:not(.no-hover) {
            cursor: pointer;
            &:not(.active) {
                background-color: #d5d5d5;
            }
        }

        &.active {
            background-color: var(--default-blue-color);
            color: white;
        }

        > .components-wrapper {
            > *:hover:not(.room-name):not(.text):not(.btn-wrapper):not(.opaque),
            .btn:hover {
                opacity: 0.7;
            }
        }
    }

    .btn.add-btn{
        background-color: var(--default-blue-color);//#78d7f3
        border-radius: 15px;
        padding: 0px 50px;
        margin: 2px;
        justify-content: center;
        display: flex;
        color: white;//"#fff700",
        font-weight: bold;
        font-size: 1.5rem;

        &.disabled{
            background-color: #959595;

            &:hover{
                opacity: 0.65;
            }
        }
    }
    
    input[type=checkbox]{
        width: 24px;
        height: 24px;
    }
}


$anim-duration: 1s;

$blink-color: #00aaff4f;
@keyframes blink {
    0% {
        background-color: $blink-color;
    }
    100% {
        background-color: var(--default-page-bg-color);
    }
}
@-webkit-keyframes blink {
    0% {
        background-color: $blink-color;
    }
    100% {
        background-color: var(--default-page-bg-color);
    }
}
detail-component, .detail-component {

    .form-wrapper {
        .form {
            border-radius: 10px;
            background-color: #ffffff;
            padding: 10px;
        }
    }

    .blinking {
        -webkit-animation: blink $anim-duration linear infinite;
        -moz-animation: blink $anim-duration linear infinite;
        animation: blink $anim-duration linear infinite;
    }
    .blink-once {
        -webkit-animation: blink $anim-duration linear 1;
        -moz-animation: blink $anim-duration linear 1;
        animation: blink $anim-duration linear 1;
    }

    input:disabled {
        background-color: #d7d7d7;
    }
}

button.blink {
    -webkit-animation: blink $anim-duration linear infinite;
    -moz-animation: blink $anim-duration linear infinite;
    animation: blink $anim-duration linear infinite;
}

tab-layout {
    margin: 10px 5px;
    margin-bottom: 0px;

    $tab-border: 1px solid #959595;
    .tab {
        border: $tab-border;
        border-right: none;
        cursor: pointer;
        font-size: 0.8rem;
        padding: 5px;
        padding-top: calc(5px + 0.2rem);
        border-radius: 5px 5px 0 0;
        &.active {
            background-color: var(--default-blue-color);
            color: white;
            font-size: 1rem;
            padding-top: 5px;
        }
    }
    .tab:last-child {
        border-right: $tab-border;
    }
    & > horizontal-stack:nth-child(2) {
        border: 2px solid #00aaff;
        padding: 5px;
        padding-bottom: 2px;
        background: #0000001a;
    }
}

page-manager {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--default-page-bg-color);

    .btns-stack {
        /*position: absolute;
        top: 5px;*/
        margin-top: 10px;
        width: 100%;
        justify-content: center;

        .btn {
            border: 1px solid var(--default-blue-color);
            height: 36px;
            border-radius: 15px;
            padding: 0 20px;
            margin: 0 10px;

            &:enabled:hover {
                background-color: #d5d5d5;
            }
        }
    }

    .form-wrapper form, .form-wrapper .form {
        max-width: initial;
        width: 100%;
        padding: 5px;
        margin: 5px;

        input:not([type="checkbox"]),
        select,
        slidable-img {
            //max-width: 500px;
        }

        slidable-img {
            .bordered-img{
                border: 1px solid grey;
            }
        }
    }
}

/*
ABSOLUTE POSITION
*/

app-loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a6;
    z-index: 100;

    .spinner {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: var(--spinner-size);
        height: var(--spinner-size);
        position: relative;
        top: calc(50% - var(--spinner-size) / 2);
        left: calc(50% - var(--spinner-size) / 2);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .message-container {
        display: flex;
        justify-content: center;
        top: calc(50% - var(--spinner-size) / 2 + 10px);
        position: relative;

        .message {
            width: fit-content;
            color: white;
            background-color: #252525;
            padding: 10px;
            border-radius: 10px;
        }
    }
}
