:root {
  --default-page-bg-color: white;
}

html {
  background-color: var(--default-page-bg-color);
  overflow: hidden;
}

html header #header-wrapper {
  width: 100%;
  height: 50px;
  background-color: #5CE1E6;
}

html #form-alert-wrapper {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

html #form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

html #form-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  width: 90%;
  border: 1px solid #00aaff;
  padding: 20px;
}

html #form-wrapper form .form-label {
  position: relative;
  width: 100%;
}

html #form-wrapper form .form-label .form-name-label {
  top: calc(-20px - 0.75em);
  margin-top: 0;
  background-color: white;
  left: -10px;
}

html #form-wrapper form .form-label label {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 20px;
  padding: 0 10px;
  top: 0.5em;
  left: 0px;
  font-size: 1em;
}

html #form-wrapper form .form-label .active-label, html #form-wrapper form .form-label .permanent-active-label {
  top: -0.75em;
  left: 10px;
  background-color: white;
  border-radius: 25px;
  font-size: 0.8em;
}

html #form-wrapper form input:not([type=checkbox]) {
  margin-top: 20px;
  border: 1px solid gray;
  height: 2.5rem;
  width: 100%;
  padding-left: 5px;
}

html #form-wrapper form input:focus {
  outline: none;
  border: 2px solid #00aaff;
}

html #form-wrapper form .chekbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  margin-top: 0.5em;
}

html #form-wrapper form .chekbox-wrapper input {
  margin-right: 0.5em;
  height: 1.3em;
  width: 1.3em;
}

html #form-wrapper form .chekbox-wrapper label {
  margin: 0;
}

html #form-wrapper form input[type=button] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
}

error-dialog {
  display: block;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 50px;
  color: red;
  font-size: 1.5em;
  -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
}

error-dialog .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  margin-top: 1em;
}

error-dialog .close-btn div {
  width: 30%;
  font-size: 1.3em;
}

hamburger-menu {
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 0px;
  top: 10px;
  height: 100%;
}

hamburger-menu img {
  margin-left: 10px;
}

hamburger-menu menu-items-container {
  display: block;
  position: relative;
  height: 100%;
  left: 0px;
  padding: 10px;
  padding-right: 25px;
  border-right: 1px solid #939393;
  background-color: white;
}

hamburger-menu menu-items-container menu-item {
  display: block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 5px;
}

hamburger-menu menu-items-container menu-item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

hamburger-menu menu-items-container menu-item:hover {
  background: -webkit-gradient(linear, left top, right top, from(#b7b7b7), to(#f0f0f0));
  background: linear-gradient(to right, #b7b7b7, #f0f0f0);
}

page-manager {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--default-page-bg-color);
}

vertical-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

horizontal-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

room-card {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
}

room-card:nth-child(odd) {
  background-color: #a5a5a5;
}

room-card:nth-child(even) {
  background-color: #ebebeb;
}

room-card:first-child {
  margin-top: 42px;
}

room-card horizontal-stack:nth-child(1) {
  background-color: rgba(255, 255, 0, 0.171);
  width: 100%;
  height: 100%;
}

room-card horizontal-stack:nth-child(1) > * {
  width: 50%;
  height: 100%;
}

room-card horizontal-stack:nth-child(1) > vertical-stack {
  background-color: rgba(0, 26, 255, 0.171);
}

room-card horizontal-stack:nth-child(1) > horizontal-stack {
  background-color: rgba(255, 0, 242, 0.171);
}
/*# sourceMappingURL=style.css.map */